<div class="ui container">
  <br>
  <form class="new-task ui form" action="/tasks">
    <div class="field">
      <input type="text">
    </div>
  </form>
  <br>

  <div id="tasks-list-anchor">

  </div>
</div>

<%= javascript_pack_tag 'tasks_list' %>